<div class="fanstore">
    <div class="fantext">
        <h2>fan store</h2>
        <div>

            <div>
                <div class="gtshop">
                    <span>go to shop</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="playerimgContainer">
        <div></div>

        <div class="fanstorimg">

            <img src="img/1648548613256.png" alt="">

            <img src="img/1648548613256.png" alt="">


        </div>
        <div>
            <div class="smbox"></div>
            <div class="bgbox"></div>
        </div>
    </div>
    <div class="matc">
        <div class="revboxred"></div>
        <div class="redbox">
            <ion-icon name="star" class="star"></ion-icon>
        </div>
        <div class="matchShirtContainer">
            <div class="matchShirt">
                <h1>159</h1> <span>zt</span>
            </div> <span>match shirt</span></div>
    </div>
</div>