<div class="seaCOnt d-flex wrapper">
    <% for( let index = 0; index <3; index++ ) { %>
        <div class="numtext">
            <div class="numbg">
                <%='0'+(index+1)  %>
            </div>
            <div class="desc">
                <h5><span class="matches">matches</span>/
                    <%=match.matchdate[index]%>
                </h5>
                <div class="textCon">
                    <h3>
                        <%=match.bodymatch[index]%>
                    </h3>
                </div>
                <div class="d-flex">
                    <ion-icon name="<%=match.iconmatch[index]%>"></ion-icon>
                    <div class="line-under-container">
                        <a href="">more</a> <span class="line-under"></span>

                    </div>
                </div>
            </div>
        </div>
        <% } %>
</div>